In [1]:
import pandas as pd
import numpy as np

In [2]:

river_dict = {'river': ['Missouri', 'Mississippi', 'Yukon', 'Rio Grande', 'Arkansas'],
        'length': [2341, 2202, 1979, 1759, 1450],
        'state': ['Montana', 'Minnesota', 'British Columbia', 'Colorado', 'Kansas']}
#Override alphabetical columns and Set Column order
river_frame =pd.DataFrame(river_dict, columns=['river', 'length', 'state'], index=['river3', 'river2','river1','river4','river5',])

In [3]:
river_frame.sort_index()

              river  length             state
river1        Yukon    1979  British Columbia
river2  Mississippi    2202         Minnesota
river3     Missouri    2341           Montana
river4   Rio Grande    1759          Colorado
river5     Arkansas    1450            Kansas

In [4]:
river_frame['length'].sort_values()

river5    1450
river4    1759
river1    1979
river2    2202
river3    2341
Name: length, dtype: int64

In [7]:
river_frame.sort_values(by='state')

              river  length             state
river1        Yukon    1979  British Columbia
river4   Rio Grande    1759          Colorado
river5     Arkansas    1450            Kansas
river2  Mississippi    2202         Minnesota
river3     Missouri    2341           Montana